.sidenav {
  background-color: #65C3E8;
}

.sidenav i {

  color: #fff;
  padding-right: 1rem;
}

.linksmenu {
  position: relative;
}

.linksmenu img {
  border-radius: 60px;
  width: 40px;
  margin-left: 40px;
}

.nav-list span {
  color: white;
  line-height: 40px;
  font-size: 15px;

}
.content {
  background-color: #f7f3f3;
}
