.sidenav {
  background-color: #313131;
  width: 12rem;
}

.sidenav i {

  color: #fff;
  padding-right: 1rem;
}

.nav-list span {
  color: white;
  line-height: 40px;
  font-size: 15px;

}
.content {
  padding: 4rem;
  background-color: #f7f3f3;
}
