<section class="container">
  <div class="login">
    <div class="loginform">
      <h2>Acessar sua conta</h2>
      <form action="">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <button type="submit">Acessar</button>
      </form>
      <div class="links">
        <a routerLink="/register">Registrar-se</a>
        <a routerLink="/" >Voltar</a>
      </div>
    </div>
  </div>
</section>
