.header {
  display: flex;
  background-color: #262626;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.header span {
  line-height: 20px;
}

.header span a {
  text-decoration: none;
  padding-right: 10px;
}
