.registerform {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.registerform h2 {
  font-size: 25px;
  text-align: center;
  margin-top: 10px;
}

.registerform form {
  display: flex;
  flex-direction: column;
  padding: 2px 20px;
}

.registerform form button {
  background-color: green;
  color: white;
  border-radius: 5px;
  border: none;
  outline: none;
  height: 40px;
  transition-duration: 200ms;
}

.registerform form button:hover {
  background-color: darkgreen;
}

.links {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.links a {
  text-decoration: none;
  color: #262626;
}

.links a:hover {
  color: #161616
}
