/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #ccc; }

.red {
  color: rgb(227, 94, 107)
}

.v-middle {
  vertical-align: middle;
}

.forms {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 10px;
}

.btn button {
  width: 40%;
}

.title {
  font-weight: bold;
  text-align: center;
  color: #262626;
}
