/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #ccc; }

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 10px;
}

.btn button {
  width: 40%;
}

.title {
  font-weight: bold;
  text-align: center;
  color: #262626;
}

span a {
  color: #ccc;
  transition-duration: 200ms;
}

span a:hover {
  color: #7e7c7c;
}

.crud {
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  margin: 0 5rem;
  gap: 10px;
}

.crud button {
  width: 30%;
}

.crud h2 {
  margin-top: 5px;
  font-size: 25px;
  color: #262626;
  font-weight: bold;
  text-align: center;
}

.read {
  margin-left: 10%;
}

.createbtn {
  margin-left: 10%;
}
